{% extends 'base.html' %}
{% load static %}
{% block title %}
    Add Maintenance
{% endblock %}

{% block content %}
<div class="container-1">
    <div class="row pt-5 pl-5">
        <div class="col-md-10 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong class="">Add Maintenance </strong>
                </div>
                <div class="panel-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Park">Park Name</label>
                                <input type="text" class="form-control" id="Park"  value=" {{res.Park_Name}} " name="park_name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Property">Property Name</label>
                                <input type="text" class="form-control" id="property"  value="{{res.Property_Name}} "name="property_name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Park">Reservation ID</label>
                                <input type="text" class="form-control" id="park"  value={{res.id}} name="res_id">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="Location">Maintenance Person</label>
                                <select id="Location" class="form-control" name="maint_person">
                                    <option selected></option>
                                    {% for profile in profile %}
                                        <option>{{ profile.user }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-row text-center">
                            <button class="btn btn-primary" type="submit">Assign Maintenance</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
