{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 ">
            <div class="panel panel-default" style="width: 600px; height:600px">
                <div class="panel-heading">    <h5><b>Add Property</b></h5> </div>
                <div class="panel-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form.Park_Name|as_crispy_field }}

                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form.Property_Name|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                             <div class="form-group col-md-12 mb-0">
                                 {{ form.Property_Description|as_crispy_field }}
                             </div>
                        </div>
                        <div class="form-row">
                             <div class="form-group col-md-12 mb-0">
                                 {{ form.Property_Location|as_crispy_field }}
                             </div>
                        </div>
                        <div class="form-row">
                             <div class="form-group col-md-12 mb-0">
                                 {{ form.Property_Guest_Capacity|as_crispy_field }}
                             </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form.Price|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form.Property_Image|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row text-center">
                            <button class="btn btn-primary "  type="submit" name="add property"> Add Property</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}