{% extends 'base.html' %}
{% load static %}
    {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
<div class="container-1">
  <div class="row pt-5 pl-5">
    <div class="col-md-10 ">
       <div class="panel panel-default" style="width: 900px">
           <div class="panel-body">

    {% if reservation %}
        <div class="row">
            <h2 style="padding-left: 15Px">Add Maintenance Charges after the event</h2>
        </div>
        <div>
            <table class="table table-striped table-bordered ">
                <thead>
                <tr class="bg-info">
                    <th>Reservation ID</th>
                    <th>Park Name</th>
                    <th>Property Name</th>
                    <th>Event Date</th>
                    <th>Slot Timings</th>
                    <th>Maintenance</th>
                </tr>
                </thead>
                <tbody>
                {% for reservation in reservation %}
                    <tr>
                        <td>{{ reservation.id }}</td>
                        <td>{{ reservation.Park_Name }}</td>
                        <td>{{ reservation.Property_Name }}</td>
                        <td>{{ reservation.Event_Date }}</td>
                        <td>{{ reservation.Slot }}</td>
                        <td><a href="{% url 'aafieldapp:addmaintcharges' id=reservation.id %}"> Add Maintenance Charges </a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p style="font-size:25px;">Properties not available for adding maintenance charges</p>
    {% endif %}
</div>
       </div>
   </div>
 </div>
</div>
</body>
</html>
{% endblock %}

